@model Herundo.Models.MessageModel

@{
    ViewBag.Title = "Create";
}

<h2>Post Message</h2>
@using(@Html.BeginForm())
{    
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <fieldset>
        <legend>Message Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.Content)
                @Html.TextAreaFor(m => m.Content)
            </li>
            <li>
                @Html.LabelFor(m => m.Location)
                @Html.TextBoxFor(m => m.Location)
            </li>
        </ol>
        <input type="submit" value="Post" />
    </fieldset>
}